mixin folio(folio)
    if folio.shortcutView===true
        div.access__folioCover 
            div
                a(href=`/folio/${folio._id}`)
                    img(src=`/${folio.shortcutUrl}`)
    else
        div.access__folioUncover
            div
                div
                    a(href=`/folio/${folio._id}`)
                        header=folio.folioName
                div
                    if folio.folioDescription
                        span=folio.folioDescription
                    else    
                        span
                    a(href=`/user/profile/${String(folio.master)}`) 
                        span #{folio.masterName}