doctype html
html(lang="kr")
    head
        title #{Title} / Life Folio
        //- link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="/static/css/styles.css")

    body
        include ../template/partials/nav/navTop.pug

        header#header
            if addTitle
                if userDB
                    a(href="/")#header__subtitle Life Folio
                    span#header__title #{userDB.username}
                else if folioDB
                    a(href="/")#header__subtitle Life Folio
                    span#header__title #{folioDB.folioName}
                        a#header__titleLike(href=`/folio/${folioDB._id}/like`)
                            svg.imageMeta__heart(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                                path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z")
            else
                a(href="/")#header__title LIFE FOLIO

            if Message
                span#header__message #{Message}
            else
                span#header__error 서버 오류
            
        //- main 컨텐츠 박스
        main#main
            if error
                span.main__Error=error
            block content
        
        include ../template/partials/nav/navBottom.pug
        include ../template/partials/nav/navSettgins.pug

    script(src="/static/js/test.js")
    script(src="/static/js/navSettings.js")