div.userProfile__img
    img(src=`/${userDB.avatarUrl}`)
div.userProfile__meta
    strong=userDB.username
        if loggedIn
            if loggedInUser._id===String(userDB._id)
                a.userProfile__modify(href=`/user/profile/${loggedInUser._id}/edit`) 정보 수정
            else
                span.userProfile__modify
        else
            span.userProfile__modify
    include ../access/view/viewMajor.pug
    include ../access/view/viewStatus.pug
    
    //- if userDB.accountCreated
    //-     span from #{userDB.accountCreated}
    //- else
    //-     span from 0000.00.00.00
div.userProfile__descript
    if userDB.accountDescription
        span.dsecript__value #{userDB.accountDescription}
        if loggedIn
            if loggedInUser._id===String(userDB._id)
                button(type="button").descript__modify 수정하기
            else
                span.descript__modify
        else
                span.descript__modify
    else
        span.dsecript__value 자기소개를 작성해주세요.
        if loggedIn
            if loggedInUser._id===String(userDB._id)
                button(type="button").descript__modify 수정하기
            else
                span.descript__modify
        else
            span.descript__modify
    div.dscript__modifyDiv.control__display-none
        input.descript__modifyValue(name="accountDescription", type="text", value=`${userDB.accountDescription}`,placeholder="자기소개를 작성해주세요.", max-length=50)
        input.descript__modifySubmit(name="accountDescriptionSubmit", type="submit", value="수정")
        button(type="button").descript__modifyCanccel 취소


script(src="/static/js/profile.js")