div#access__userImg
    img(src=`/${userDB.avatarUrl}`)
div#access__userMeta
    div
        strong=userDB.username 
        if loggedIn
            if loggedInUser._id===String(userDB._id)
                a.userProfile__modify(href=`/user/profile/${loggedInUser._id}/edit`) 정보 수정
            else
                span.userProfile__modify
        else
            span.userProfile__modify
    include ../access/view/viewMajor.pug
    include ../access/view/viewStatus.pug
    
    
    //- if userDB.accountCreated
    //-     span from #{userDB.accountCreated}
    //- else
    //-     span from 0000.00.00.00
form#access__userDescript
    div#modifyForm
    if userDB.accountDescription
        if loggedIn
            if loggedInUser._id===String(userDB._id)
                //-동일 유저
                span#modifyValueBef #{userDB.accountDescription}
                button#modifyDescBtn 수정하기
            else
                //-다른 유저
                span#modifyValueBef #{userDB.accountDescription}
        else
            //-익명
            span#modifyValueBef #{userDB.accountDescription}
    else
        if loggedIn
            if loggedInUser._id===String(userDB._id)
                //-동일 유저
                span#modifyValueBef.modifyValueBefNope 자기소개를 작성해주세요
                button(type="button")#modifyDescBtn 수정하기
            else
                //-다른 유저
                span#modifyValueBef
        else
            //-익명
            span#modifyValueBef

    div#modifyInputDiv.control-DisplayNone
        input#modifyValueAft(name="accountDescription", type="text", value=`${userDB.accountDescription}`,placeholder="자기소개를 작성해주세요.", max-length=50)
        input#modifyDescSubmit(name="accountDescriptionSubmit", type="submit", value="수정")
        button#modifyDescCacnel(type="button") 취소

script(src="/static/js/profile.js")
script(src="/static/js/profileEditSimple.js")