extends ../../base/base.pug
include ../mixins/userFolioImage.pug

block content 
    div.form__access
        div.form__folio
            //- grid display
            div.folio__shortcut
                img(src=`/folio/${folioDB.shortcutUrl}`)
            div.folio__master
                a(href=`/user/profile/${folioDB.master}`)  크리에이터 #{folioDB.masterName}
            div.folio__name
                a(href=`/folio/${folioDB._id}`)  포트폴리오 #{folioDB.folioName}
            div.folio__description     
                if String(folioDB.folioDescription) !== ""
                    span.description__innerSpan=folioDB.folioDescription
                else
                    span.description__innerSpan
            div.folio__created
                span=folioDB.folioCreated
    
    div.form__content-grid
        div.form__content
            div
                div.folio__imageDiv
                    if folioDB.folioImageArray[0]===undefined
                        //- span folioIMageDB 가 없음
                        span 이미지 파일이 없습니다.
                        if loggedIn
                            if loggedInUser._id===String(folioDB.master)
                                button(type="button").imageUploadBtn 추가하기
                            else
                                span.imageUploadBtn
                        else 
                            span.imageUploadBtn
                    else
                        each folioImage in folioDB.folioImageArray
                            +folioImage(folioImage)
                        if loggedIn
                            if loggedInUser._id===String(folioDB.master)
                                button(type="button").imageUploadBtn 추가하기
                            else
                                span.imageUploadBtn
                        else 
                            span.imageUploadBtn
                form(method="POST") 
                    div.folio__imageUpload.control__display-none
                        input.imageUploadTarget(name="target", type="text", placeholder="이미지 제목을 입력하세요")
                        input.imageUploadSubmit(name="submit", type="submit", value="이미지 업로드")
                        button(type="button").imageUploadCancel 취소하기

    script(src="/static/js/folio.js")